<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Data</ion-title>
    <ion-buttons slot="end">
      
      <ion-button routerLink="/app/tabs/data/form-submit">
        <span>
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let datas of myData">
        <ion-card class="speaker-card">
          <ion-card-header>
            <ion-item detail="false" lines="none" class="speaker-item">
              
              <ion-label>
                <h2>DATA ID : {{ datas.id_category_outlet }}</h2>
                <p>{{datas.name_category_outlet }}</p>
                <b>Lokasin Gambar : </b><br>        
                {{ datas.img_path_category_outlet }}  
              </ion-label>
            </ion-item>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6" *ngFor="let dataOfflineMode of myDataOfflineMode">
        <ion-card class="speaker-card">
          <ion-card-header>
            <ion-item detail="false" lines="none" class="speaker-item">
              
              <ion-label>
                <h2>DATA ID : {{ dataOfflineMode.id_category_outlet }}</h2>
                <p>{{dataOfflineMode.name_category_outlet }}</p>
                <b>Lokasin Gambar : </b><br>        
                {{ dataOfflineMode.img_path_category_outlet }}  
              </ion-label>
            </ion-item>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
